.body {
    background-color: aliceblue;
}
/*-----------------MINIMO ALTURA DEL CONTENEDOR---------------------*/
.section-content {
    min-height: 450px;
}
/*------------------------------BANDERA------------------------------*/
.flag {
    height: 17px;
    width: auto;
}
.flag.selected {
    opacity: 0.5;
    pointer-events: none;
}
/*------------------------------FOOTER------------------------------*/
footer {
    background-color: #183440;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
/*------------------------------HEADER------------------------------*/
header {
    background-color: #40606f;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}
.logo {
    width: 100px;
    height: auto;
}
/*------------------------------NAVBARS-------------------------------*/
.navbar-custom {
    background-color: #183440;
}
.product-navbar-custom {
    background-color: #40606f;
}

/*------------------------------CAROUSEL------------------------------*/
.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.text-light {
    color: #fff;
    text-align: center;
}

.carousel-image {
    height: 600px;
    object-fit: cover;
}
/*-----------------------------REGISTRARSE-----------------------------*/
.register-image {
    background-image: url("https://mdbootstrap.com/img/new/textures/full/171.jpg");
    height: 300px;
}
.register-card {
    margin-top: -100px;
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(30px);
}

.img-user {
    width: 50px;
    height: auto;
}
/*--------------------------INICIAR SESIÓN------------------------------*/
.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url("https://bootstrapious.com/i/snippets/sn-page-split/bg.jpg");
    background-size: cover;
    background-position: center center;
}
.gradient-custom-2 {
    background: #fccb90;
    background: -webkit-linear-gradient(
        to right,
        #ee7724,
        #d8363a,
        #dd3675,
        #b44593
    );
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
/*--------------------CARRITO Y PASARELA DE PAGO-----------------------*/

.card-icon {
    width: 35px;
    height: auto;
    transition: transform 0.3s;
}

.card-icon:hover {
    transform: scale(1.1);
}

.link-unstyled {
    text-decoration: none;
}
/*--------------------------FORMULARIOS--------------------------------*/
.form-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: bold;
    color: #333;
}

.form-control {
    border: 1px solid #ced4da;
}

.form-control:focus {
    border-color: #4d94ff;
    box-shadow: 0 0 5px rgba(77, 148, 255, 0.5);
}
/*--------------------------TIENDA ONLINE------------------------------*/

.store_product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product-image {
    height: 200px;
    object-fit: contain;
    width: 100%;
    transition: transform 0.5s;
}
.product-image:hover {
    transform: scale(0.9);
}
.product-name {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}
.product-price {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}
.product-description {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 10px;
    text-align: center;
}
.add-to-cart-btn {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s;
}

.add-to-cart-btn:hover {
    color: #0056b3;
}

.bi-cart-plus-fill {
    font-size: 25px;
}

.product-stock {
    font-size: 10px;
}

/*.out-of-stock {
    opacity: 0.5;
    pointer-events: none;
}*/

