/*-----------------MINIMO ALTURA DEL CONTENEDOR---------------------*/
.section-content {
    background-color: #dbeaff;
    min-height: 450px;
}
/*------------------------------FOOTER------------------------------*/
footer {
    background-color: #183440;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
/*------------------------------HEADER------------------------------*/
header {
    background-color: #40606f;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  .navbar-custom {
    background-color: #183440;
  }
  .title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .logo {
    width: 100px;
    height: auto;
  }
/*---------------------------------------------REGISTRARSE-----------------------------------------------*/
.register-image{
    background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
}
.register-card{
    margin-top: -100px;
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(30px);
}

.img-user{
    width: 50px;
    height: auto;
}
/*COLORES A TENER EN CUENTA color oscuro #4d646f
color claro #607d8b*/
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://bootstrapious.com/i/snippets/sn-page-split/bg.jpg');
  background-size: cover;
  background-position: center center;
}
.gradient-custom-2 {
    background: #fccb90;
    background: -webkit-linear-gradient(
        to right,
        #ee7724,
        #d8363a,
        #dd3675,
        #b44593
    );
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
